<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="stylesheet" href="{{assets_path}}/gollum.css">
  
  <!-- Google Analytics (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZCWWBBG7BH"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-ZCWWBBG7BH', {
      'anonymize_ip': true,
      'cookie_expires': 63072000  // 2 years
    });
  </script>
</head>
<body>
  {{{yield}}}
</body>
</html>