<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <link rel="stylesheet" href="{{assets_path}}/gollum.css">
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZCWWBBG7BH"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-ZCWWBBG7BH');
  </script>
</head>
<body>
  {{{yield}}}
</body>
</html>